*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.theme{
    background-color: black;
    color:white;
}
.color-blue{
    color:#429ba1;
}
.color-darkblue{
    color:#062628;
}
.bg-blue{
    background-color: #429ba1;
}
.bg-darkblue{
    background-color: #062628;
}



